/* Make all text white by default */
* {
  color: white;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #b6e7e7;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: black;
}

h2{
  color: black;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
}

.cell {
  background: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.cell:hover {
  transform: scale(1.05);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #10b981;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: #059669;
}
